@charset "UTF-8";

*{
    margin: 0px;
    padding: opx;
}
body{
    background-color: gray;
}
main{
    width: 700px;
    height: 100%;
    margin: auto;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
}
a{
    text-decoration: none;
}
h1{
    text-align: center;
    margin-bottom: 15px;
}
h2{
    padding: 18px;
}
h3{
    padding: 18px;
}
p{
    padding-left: 23px;
    padding-bottom: 5px;
}